# Server
PORT=3000
NODE_ENV=production
CLIENT_URL=https://undefined.pages.dev

# PostgreSQL (Supabase)
DB_HOST=aws-0-us-east-1.pooler.supabase.com
DB_PORT=5432
DB_USER=postgres.xxxxxx
DB_PASSWORD=supabase-password
DB_NAME=postgres
DB_SSL=true

# JWT
JWT_SECRET=secret-code-32chars
